<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/css/recipedetails.css">
    <title>Recipe Details</title>
</head>
<body>
    <div id="main">
        <p id="title">Recipe Name</p>
        <div id="left">
            <img src="/Components/images/recipe_card_default.png" alt="">
            <h1>Ingredients</h1>
            <table style="width:100%">
                <tr>
                  <th>Item</th>
                  <th>Quantity</th>
                </tr>
                <tr>
                  <td>Item1</td>
                  <td>xx grams</td>
                </tr>
                <tr>
                  <td>Item2</td>
                  <td>xx grams</td>
                </tr>
                <tr>
                    <td>Item2</td>
                    <td>xx grams</td>
                  </tr>
                </tr>
                <tr>
                    <td>Item2</td>
                    <td>xx grams</td>
                  </tr>
                </tr>
                <tr>
                    <td>Item2</td>
                    <td>xx grams</td>
                  </tr>
                </tr>
                <tr>
                    <td>Item2</td>
                    <td>xx grams</td>
                  </tr>
                </tr>
            </tr>


              </table> 
        </div>
    </div>
    
</body>
</html>