<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="recipecard.css">
    <title>Recepi Card</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.themealdb.com/images/media/meals/xxyupu1468262513.jpg", alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Recepi Name</h5>
          <p class="card-text">Tags</p>
          <a href="#" class="btn btn-primary">View more</a>
        </div>
      </div>
</body>
</html>