<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/css/recipedetails.css">
    <title>Recipe Details</title>
</head>
<body>
    <div id="main">
        <p id="title">Recipe Name</p>
        <div id="left">
            <img src="/Components/images/recipe_card_default.png" alt="">
            <h1>Ingredients</h1>
        </div>
    </div>
    
</body>
</html>